.question-average-rating {
  .question-average-rating__container {
    background-color: #f4f4f7;
    padding: 2rem;
    margin: 1rem 0;
  }
  .question-average-rating__item {
    margin: 1rem;
  }
  .question-average-rating__question {
    font-weight: normal;
    max-width: 740px;
  }
  .question-average-rating__value {
     font-weight: bold;
  }
}
