@import 'src/styles/abstracts/functions/_get-color';

.survey-theme-details {
  .survey-theme-details__container {
    background-color: getColor(aquaHaze);
    padding: 2rem;
    margin: 1rem 0;
  }
  .survey-theme-details__name {
    text-transform: uppercase;
  }
  .survey-theme-details__question-description{
    font-weight: bold;
  }

  .survey-theme-details__questions {
    margin-left: 0;
    margin-right: 0;
    li {
      margin: 1rem 0;
    }
  }

  .survey-theme-details__stats {
    margin-left: 0;
    margin-right: 0;
    li {
      margin: 1rem 0;
    }
  }
  .survey-theme-details__star{
    color: getColor(orange);
  }
  .survey-theme-details__scale {
    background-color: getColor(clearDay);
    padding: 0.5rem;
  }
}
