@import 'src/styles/abstracts/functions/_get-color';

.percentage-pie{
  .percentage-pie__container {
    background-color: getColor(wispPink);
    padding: 2rem;
  }
  .percentage-pie__percentage{
    font-weight: bold;
  }
}
