.survey-card {
  .survey-card__container {
    background: getColor(white);
    box-shadow: 0 2px 4px 0 getColor(black-10);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .survey-card__title {
    color: getColor(black-60);
  }
  .survey-card__content {
    padding: 0;
  }
  .survey-card__actions {
    padding: 1rem;
  }
  .survey-card__link {
    color: getColor(black-80);
    text-transform: none;
    letter-spacing: normal;
    transition: color .2s ease-in;
    text-transform: uppercase;
    font-size: 0.85rem;
    &:hover {
      color: getColor(carnation);
    }
  }
}
