.survey-list-item {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: #3e4543;
    text-transform: none;
    letter-spacing: normal;
    transition: color .2s ease-in;
    &:hover {
      color: #f14b5d;
    }
  }
}
